<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd 
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        ">

	<context:property-placeholder location="classpath:quantify.properties" ignore-unresolvable="true" />
	
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" > 
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> 
        <property name="prefix" value="/WEB-INF/views/" /> 
        <property name="suffix" value=".jsp" /> 
    </bean>
    
    <!-- 上传文件拦截，设置最大上传文件大小   10M=10*1024*1024(B)=10485760 bytes -->  
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	    <property name="maxUploadSize" value="104857600" />  
	</bean>
    
    <bean id="objectMapper" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
      	<property name="simpleDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    </bean>

	<bean id="xmlMapper" parent="objectMapper">
		<property name="createXmlMapper" value="true" />
	</bean>
   
    <!-- 第二步： 创建convertion-Service ，并注入dateConvert-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="formatters">
        	<set>
        		<bean class="com.flyonsky.quantify.format.DateFormat"></bean>
        	</set>
        </property>
    </bean>
	
	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	            <property name="objectMapper" ref="objectMapper"/>
	        </bean>
	        <bean class="org.springframework.http.converter.xml.MappingJackson2XmlHttpMessageConverter">
	            <property name="objectMapper" ref="xmlMapper"/>
	        </bean>
		</mvc:message-converters>
        <mvc:argument-resolvers>
        	<bean class="com.flyonsky.quantify.convert.QueryInfoResolver" />
        </mvc:argument-resolvers> 
    </mvc:annotation-driven>
    
   	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/admin/login.co"/>
			<mvc:exclude-mapping path="/admin/chklogin.co"/>
			<mvc:exclude-mapping path="/admin/invalid.co"/>
			<mvc:exclude-mapping path="/admin/logout.co"/>
			<ref bean="adminInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="adminInterceptor" class="com.flyonsky.quantify.interceptor.AdminInterceptor"></bean>
    
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
	
	<context:component-scan base-package="com.flyonsky.quantify.control" />
</beans>