<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyonsky.quantify.dao.AdminUrlMapper" >
  <resultMap id="BaseResultMap" type="com.flyonsky.quantify.entity.AdminUrl" >
    <id column="uId" property="uid" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="uName" property="uname" jdbcType="VARCHAR" />
    <result column="uTitle" property="utitle" jdbcType="VARCHAR" />
    <result column="uParentId" property="uparentid" jdbcType="BIGINT" />
    <result column="uType" property="utype" jdbcType="INTEGER" />
    <result column="uCsscls" property="ucsscls" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uId, url, uName, uTitle, uParentId, uType, uCsscls
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.flyonsky.quantify.entity.AdminUrlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cp_admin_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cp_admin_url
    where uId = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cp_admin_url
    where uId = #{uid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.flyonsky.quantify.entity.AdminUrlExample" >
    delete from cp_admin_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flyonsky.quantify.entity.AdminUrl" >
    insert into cp_admin_url (uId, url, uName, 
      uTitle, uParentId, uType, 
      uCsscls)
    values (#{uid,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{utitle,jdbcType=VARCHAR}, #{uparentid,jdbcType=BIGINT}, #{utype,jdbcType=INTEGER}, 
      #{ucsscls,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.flyonsky.quantify.entity.AdminUrl" >
    insert into cp_admin_url
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="uname != null" >
        uName,
      </if>
      <if test="utitle != null" >
        uTitle,
      </if>
      <if test="uparentid != null" >
        uParentId,
      </if>
      <if test="utype != null" >
        uType,
      </if>
      <if test="ucsscls != null" >
        uCsscls,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="utitle != null" >
        #{utitle,jdbcType=VARCHAR},
      </if>
      <if test="uparentid != null" >
        #{uparentid,jdbcType=BIGINT},
      </if>
      <if test="utype != null" >
        #{utype,jdbcType=INTEGER},
      </if>
      <if test="ucsscls != null" >
        #{ucsscls,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flyonsky.quantify.entity.AdminUrlExample" resultType="java.lang.Integer" >
    select count(*) from cp_admin_url
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cp_admin_url
    <set >
      <if test="record.uid != null" >
        uId = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.uname != null" >
        uName = #{record.uname,jdbcType=VARCHAR},
      </if>
      <if test="record.utitle != null" >
        uTitle = #{record.utitle,jdbcType=VARCHAR},
      </if>
      <if test="record.uparentid != null" >
        uParentId = #{record.uparentid,jdbcType=BIGINT},
      </if>
      <if test="record.utype != null" >
        uType = #{record.utype,jdbcType=INTEGER},
      </if>
      <if test="record.ucsscls != null" >
        uCsscls = #{record.ucsscls,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cp_admin_url
    set uId = #{record.uid,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      uName = #{record.uname,jdbcType=VARCHAR},
      uTitle = #{record.utitle,jdbcType=VARCHAR},
      uParentId = #{record.uparentid,jdbcType=BIGINT},
      uType = #{record.utype,jdbcType=INTEGER},
      uCsscls = #{record.ucsscls,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyonsky.quantify.entity.AdminUrl" >
    update cp_admin_url
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        uName = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="utitle != null" >
        uTitle = #{utitle,jdbcType=VARCHAR},
      </if>
      <if test="uparentid != null" >
        uParentId = #{uparentid,jdbcType=BIGINT},
      </if>
      <if test="utype != null" >
        uType = #{utype,jdbcType=INTEGER},
      </if>
      <if test="ucsscls != null" >
        uCsscls = #{ucsscls,jdbcType=VARCHAR},
      </if>
    </set>
    where uId = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyonsky.quantify.entity.AdminUrl" >
    update cp_admin_url
    set url = #{url,jdbcType=VARCHAR},
      uName = #{uname,jdbcType=VARCHAR},
      uTitle = #{utitle,jdbcType=VARCHAR},
      uParentId = #{uparentid,jdbcType=BIGINT},
      uType = #{utype,jdbcType=INTEGER},
      uCsscls = #{ucsscls,jdbcType=VARCHAR}
    where uId = #{uid,jdbcType=BIGINT}
  </update>
</mapper>