<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyonsky.quantify.dao.AnnualReportMapper" >
  <resultMap id="BaseResultMap" type="com.flyonsky.quantify.entity.AnnualReport" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="revenue" property="revenue" jdbcType="DECIMAL" />
    <result column="operprofit" property="operprofit" jdbcType="DECIMAL" />
    <result column="totalprofit" property="totalprofit" jdbcType="DECIMAL" />
    <result column="netprofit" property="netprofit" jdbcType="DECIMAL" />
    <result column="shnetprofit" property="shnetprofit" jdbcType="DECIMAL" />
    <result column="deshnetprofit" property="deshnetprofit" jdbcType="DECIMAL" />
    <result column="netcashflow" property="netcashflow" jdbcType="DECIMAL" />
    <result column="totalassets" property="totalassets" jdbcType="DECIMAL" />
    <result column="totalliability" property="totalliability" jdbcType="DECIMAL" />
    <result column="shequity" property="shequity" jdbcType="DECIMAL" />
    <result column="totalshares" property="totalshares" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
      <if test="customWhere != null" >
         ${customWhere} 
      </if>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
      <if test="customWhere != null" >
         ${customWhere} 
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, year, revenue, operprofit, totalprofit, netprofit, shnetprofit, deshnetprofit, 
    netcashflow, totalassets, totalliability, shequity, totalshares, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.flyonsky.quantify.entity.AnnualReportExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cp_annualreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cp_annualreport
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cp_annualreport
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.flyonsky.quantify.entity.AnnualReportExample" >
    delete from cp_annualreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flyonsky.quantify.entity.AnnualReport" >
    insert into cp_annualreport (id, code, year, 
      revenue, operprofit, totalprofit, 
      netprofit, shnetprofit, deshnetprofit, 
      netcashflow, totalassets, totalliability, 
      shequity, totalshares, remark
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}, 
      #{revenue,jdbcType=DECIMAL}, #{operprofit,jdbcType=DECIMAL}, #{totalprofit,jdbcType=DECIMAL}, 
      #{netprofit,jdbcType=DECIMAL}, #{shnetprofit,jdbcType=DECIMAL}, #{deshnetprofit,jdbcType=DECIMAL}, 
      #{netcashflow,jdbcType=DECIMAL}, #{totalassets,jdbcType=DECIMAL}, #{totalliability,jdbcType=DECIMAL}, 
      #{shequity,jdbcType=DECIMAL}, #{totalshares,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flyonsky.quantify.entity.AnnualReport" >
    insert into cp_annualreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="revenue != null" >
        revenue,
      </if>
      <if test="operprofit != null" >
        operprofit,
      </if>
      <if test="totalprofit != null" >
        totalprofit,
      </if>
      <if test="netprofit != null" >
        netprofit,
      </if>
      <if test="shnetprofit != null" >
        shnetprofit,
      </if>
      <if test="deshnetprofit != null" >
        deshnetprofit,
      </if>
      <if test="netcashflow != null" >
        netcashflow,
      </if>
      <if test="totalassets != null" >
        totalassets,
      </if>
      <if test="totalliability != null" >
        totalliability,
      </if>
      <if test="shequity != null" >
        shequity,
      </if>
      <if test="totalshares != null" >
        totalshares,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="revenue != null" >
        #{revenue,jdbcType=DECIMAL},
      </if>
      <if test="operprofit != null" >
        #{operprofit,jdbcType=DECIMAL},
      </if>
      <if test="totalprofit != null" >
        #{totalprofit,jdbcType=DECIMAL},
      </if>
      <if test="netprofit != null" >
        #{netprofit,jdbcType=DECIMAL},
      </if>
      <if test="shnetprofit != null" >
        #{shnetprofit,jdbcType=DECIMAL},
      </if>
      <if test="deshnetprofit != null" >
        #{deshnetprofit,jdbcType=DECIMAL},
      </if>
      <if test="netcashflow != null" >
        #{netcashflow,jdbcType=DECIMAL},
      </if>
      <if test="totalassets != null" >
        #{totalassets,jdbcType=DECIMAL},
      </if>
      <if test="totalliability != null" >
        #{totalliability,jdbcType=DECIMAL},
      </if>
      <if test="shequity != null" >
        #{shequity,jdbcType=DECIMAL},
      </if>
      <if test="totalshares != null" >
        #{totalshares,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flyonsky.quantify.entity.AnnualReportExample" resultType="java.lang.Integer" >
    select count(*) from cp_annualreport
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cp_annualreport
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=INTEGER},
      </if>
      <if test="record.revenue != null" >
        revenue = #{record.revenue,jdbcType=DECIMAL},
      </if>
      <if test="record.operprofit != null" >
        operprofit = #{record.operprofit,jdbcType=DECIMAL},
      </if>
      <if test="record.totalprofit != null" >
        totalprofit = #{record.totalprofit,jdbcType=DECIMAL},
      </if>
      <if test="record.netprofit != null" >
        netprofit = #{record.netprofit,jdbcType=DECIMAL},
      </if>
      <if test="record.shnetprofit != null" >
        shnetprofit = #{record.shnetprofit,jdbcType=DECIMAL},
      </if>
      <if test="record.deshnetprofit != null" >
        deshnetprofit = #{record.deshnetprofit,jdbcType=DECIMAL},
      </if>
      <if test="record.netcashflow != null" >
        netcashflow = #{record.netcashflow,jdbcType=DECIMAL},
      </if>
      <if test="record.totalassets != null" >
        totalassets = #{record.totalassets,jdbcType=DECIMAL},
      </if>
      <if test="record.totalliability != null" >
        totalliability = #{record.totalliability,jdbcType=DECIMAL},
      </if>
      <if test="record.shequity != null" >
        shequity = #{record.shequity,jdbcType=DECIMAL},
      </if>
      <if test="record.totalshares != null" >
        totalshares = #{record.totalshares,jdbcType=BIGINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cp_annualreport
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      year = #{record.year,jdbcType=INTEGER},
      revenue = #{record.revenue,jdbcType=DECIMAL},
      operprofit = #{record.operprofit,jdbcType=DECIMAL},
      totalprofit = #{record.totalprofit,jdbcType=DECIMAL},
      netprofit = #{record.netprofit,jdbcType=DECIMAL},
      shnetprofit = #{record.shnetprofit,jdbcType=DECIMAL},
      deshnetprofit = #{record.deshnetprofit,jdbcType=DECIMAL},
      netcashflow = #{record.netcashflow,jdbcType=DECIMAL},
      totalassets = #{record.totalassets,jdbcType=DECIMAL},
      totalliability = #{record.totalliability,jdbcType=DECIMAL},
      shequity = #{record.shequity,jdbcType=DECIMAL},
      totalshares = #{record.totalshares,jdbcType=BIGINT},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyonsky.quantify.entity.AnnualReport" >
    update cp_annualreport
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="revenue != null" >
        revenue = #{revenue,jdbcType=DECIMAL},
      </if>
      <if test="operprofit != null" >
        operprofit = #{operprofit,jdbcType=DECIMAL},
      </if>
      <if test="totalprofit != null" >
        totalprofit = #{totalprofit,jdbcType=DECIMAL},
      </if>
      <if test="netprofit != null" >
        netprofit = #{netprofit,jdbcType=DECIMAL},
      </if>
      <if test="shnetprofit != null" >
        shnetprofit = #{shnetprofit,jdbcType=DECIMAL},
      </if>
      <if test="deshnetprofit != null" >
        deshnetprofit = #{deshnetprofit,jdbcType=DECIMAL},
      </if>
      <if test="netcashflow != null" >
        netcashflow = #{netcashflow,jdbcType=DECIMAL},
      </if>
      <if test="totalassets != null" >
        totalassets = #{totalassets,jdbcType=DECIMAL},
      </if>
      <if test="totalliability != null" >
        totalliability = #{totalliability,jdbcType=DECIMAL},
      </if>
      <if test="shequity != null" >
        shequity = #{shequity,jdbcType=DECIMAL},
      </if>
      <if test="totalshares != null" >
        totalshares = #{totalshares,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyonsky.quantify.entity.AnnualReport" >
    update cp_annualreport
    set code = #{code,jdbcType=VARCHAR},
      year = #{year,jdbcType=INTEGER},
      revenue = #{revenue,jdbcType=DECIMAL},
      operprofit = #{operprofit,jdbcType=DECIMAL},
      totalprofit = #{totalprofit,jdbcType=DECIMAL},
      netprofit = #{netprofit,jdbcType=DECIMAL},
      shnetprofit = #{shnetprofit,jdbcType=DECIMAL},
      deshnetprofit = #{deshnetprofit,jdbcType=DECIMAL},
      netcashflow = #{netcashflow,jdbcType=DECIMAL},
      totalassets = #{totalassets,jdbcType=DECIMAL},
      totalliability = #{totalliability,jdbcType=DECIMAL},
      shequity = #{shequity,jdbcType=DECIMAL},
      totalshares = #{totalshares,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>