<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyonsky.quantify.dao.DataMapper" >
  <resultMap id="SecuritiesCharts" type="com.flyonsky.quantify.entity.SecuritiesCharts" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="pershare" property="pershare" jdbcType="DECIMAL" />
    <result column="debtratio" property="debtratio" jdbcType="DECIMAL" />
    <result column="netassetspershare" property="netassetspershare" jdbcType="DECIMAL" />
    <result column="persharecash" property="persharecash" jdbcType="DECIMAL" />
    <result column="netassetsprofit" property="netassetsprofit" jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="querySecurity" resultMap="SecuritiesCharts" parameterType="java.util.ArrayList">
	select code,year,
	deshnetprofit/totalshares as pershare,
	totalliability/totalassets*100.0 as debtratio,
	shequity/totalshares as netassetspershare,
	netcashflow/totalshares as persharecash,
	deshnetprofit/shequity*100.0 as netassetsprofit from cp_annualreport where code in (
		<foreach item="guard" index="index" collection="list"  separator=","> 
			#{guard} 
	    </foreach>  
       )  order by year
  </select>
  
</mapper>