<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyonsky.quantify.dao.SalesMapper" >
  <resultMap id="SalesChart" type="com.flyonsky.quantify.entity.SalesCharts" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="revenue" property="revenue" jdbcType="DECIMAL" />
    <result column="operprofit" property="operprofit" jdbcType="DECIMAL" />
    <result column="totalprofit" property="totalprofit" jdbcType="DECIMAL" />
    <result column="netprofit" property="netprofit" jdbcType="DECIMAL" />
    <result column="grossmargin" property="grossmargin" jdbcType="DECIMAL" />
    <result column="netinterestrate" property="netinterestrate" jdbcType="DECIMAL" />
    <result column="mainprofitrate" property="mainprofitrate" jdbcType="DECIMAL" />
    <result column="assetturnover" property="assetturnover" jdbcType="DECIMAL" />
  </resultMap>
  
  <resultMap id="SalesRateChart" type="com.flyonsky.quantify.entity.SalesRateCharts" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="revenuerate" property="revenuerate" jdbcType="DECIMAL" />
    <result column="operprofitrate" property="operprofitrate" jdbcType="DECIMAL" />
    <result column="totalprofitrate" property="totalprofitrate" jdbcType="DECIMAL" />
    <result column="netprofitrate" property="netprofitrate" jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="querySales" resultMap="SalesChart" parameterType="java.util.ArrayList">
	select code,year,name,revenue,operprofit,totalprofit,netprofit,
	operprofit/revenue*100.0 as grossmargin,
	netprofit/revenue*100.0 as netinterestrate,
	operprofit/totalprofit*100.0 as mainprofitrate,
	revenue/totalassets as assetturnover from v_annualreport where code in (
		<foreach item="guard" index="index" collection="list"  separator=","> 
			#{guard} 
	    </foreach> 
	) order by year
  </select>
  
  <select id="querySalesIndustry" resultMap="SalesChart" parameterType="java.lang.String">
	select code,year,name,avgrevenue as revenue,avgoperprofit as operprofit,avgtotalprofit as totalprofit,avgnetprofit as netprofit,
	avgoperprofit/avgrevenue*100.0 as grossmargin,
	avgnetprofit/avgrevenue*100.0 as netinterestrate,
	avgoperprofit/avgtotalprofit*100.0 as mainprofitrate,
	avgrevenue/avgtotalassets as assetturnover from (
	select year,'000000' as code,'行业' as name,
	 avg(revenue) as avgrevenue,
	 avg(operprofit) as avgoperprofit,
	 avg(totalprofit) as avgtotalprofit,
	 avg(netprofit) as avgnetprofit,
	 avg(totalassets) as avgtotalassets
	 from cp_annualreport where code in (
	 select code from cp_industrysecury where industryid in( 
		select industryid from cp_industrysecury where code = #{code}
       )) group by year ) a order by year
  </select>
  
  <select id="queryRateSales" resultMap="SalesRateChart" parameterType="java.util.ArrayList">
	select a.code,a.year,a.name, (a.revenue - b.revenue)/b.revenue*100.0 as revenuerate,
	(a.operprofit - b.operprofit)/b.operprofit*100.0 as operprofitrate,
	(a.totalprofit - b.totalprofit)/b.totalprofit*100.0 as totalprofitrate,
	(a.netprofit - b.netprofit)/b.netprofit*100.0 as netprofitrate
	 from 
	(select * from v_annualreport ) a ,(select year + 1 as rateyear,a.* from cp_annualreport a) b 
	where a.year = b.rateyear and a.code = b.code and a.code in (
		<foreach item="guard" index="index" collection="list"  separator=","> 
			#{guard} 
	    </foreach>  
	    ) order by a.year 
  </select>
  
    <select id="queryRateSalesIndustry" resultMap="SalesRateChart" parameterType="java.lang.String">
	select a.code,a.year,a.name, (a.avgrevenue - b.avgrevenue)/b.avgrevenue*100.0 as revenuerate,
	(a.avgoperprofit - b.avgoperprofit)/b.avgoperprofit*100.0 as operprofitrate,
	(a.avgtotalprofit - b.avgtotalprofit)/b.avgtotalprofit*100.0 as totalprofitrate,
	(a.avgnetprofit - b.avgnetprofit)/b.avgnetprofit*100.0 as netprofitrate
	 from (
	select year,'000000' as code,'行业' as name,
	 avg(revenue) as avgrevenue,
	 avg(operprofit) as avgoperprofit,
	 avg(totalprofit) as avgtotalprofit,
	 avg(netprofit) as avgnetprofit
	 from cp_annualreport where code in (
	 select code from cp_industrysecury where industryid in( 
		select industryid from cp_industrysecury where code = #{code}
       )) group by year  ) a ,
       (select year+ 1 as rateyear,'000000' as code,'行业' as name,
	 avg(revenue) as avgrevenue,
	 avg(operprofit) as avgoperprofit,
	 avg(totalprofit) as avgtotalprofit,
	 avg(netprofit) as avgnetprofit
	 from cp_annualreport where code in (
	 select code from cp_industrysecury where industryid in( 
		select industryid from cp_industrysecury where code = #{code}
       )) group by year ) b 
	where a.year = b.rateyear and a.code = b.code order by a.year 
  </select>
</mapper>