<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyonsky.quantify.dao.VAdminRoleAllUrlMapper" >
  <resultMap id="BaseResultMap" type="com.flyonsky.quantify.entity.VAdminRoleAllUrl" >
    <result column="uId" property="uid" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="uName" property="uname" jdbcType="VARCHAR" />
    <result column="uTitle" property="utitle" jdbcType="VARCHAR" />
    <result column="uParentId" property="uparentid" jdbcType="BIGINT" />
    <result column="uType" property="utype" jdbcType="INTEGER" />
    <result column="uCsscls" property="ucsscls" jdbcType="VARCHAR" />
    <result column="roleId" property="roleid" jdbcType="BIGINT" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="ruId" property="ruid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
      <if test="customWhere != null" >
         ${customWhere} 
      </if>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
      <if test="customWhere != null" >
         ${customWhere} 
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uId, url, uName, uTitle, uParentId, uType, uCsscls, roleId, roleName, ruId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.flyonsky.quantify.entity.VAdminRoleAllUrlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from v_admin_role_allurl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.flyonsky.quantify.entity.VAdminRoleAllUrlExample" >
    delete from v_admin_role_allurl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flyonsky.quantify.entity.VAdminRoleAllUrl" >
    insert into v_admin_role_allurl (uId, url, uName, 
      uTitle, uParentId, uType, 
      uCsscls, roleId, roleName, 
      ruId)
    values (#{uid,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{utitle,jdbcType=VARCHAR}, #{uparentid,jdbcType=BIGINT}, #{utype,jdbcType=INTEGER}, 
      #{ucsscls,jdbcType=VARCHAR}, #{roleid,jdbcType=BIGINT}, #{rolename,jdbcType=VARCHAR}, 
      #{ruid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.flyonsky.quantify.entity.VAdminRoleAllUrl" >
    insert into v_admin_role_allurl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="uname != null" >
        uName,
      </if>
      <if test="utitle != null" >
        uTitle,
      </if>
      <if test="uparentid != null" >
        uParentId,
      </if>
      <if test="utype != null" >
        uType,
      </if>
      <if test="ucsscls != null" >
        uCsscls,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="rolename != null" >
        roleName,
      </if>
      <if test="ruid != null" >
        ruId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="utitle != null" >
        #{utitle,jdbcType=VARCHAR},
      </if>
      <if test="uparentid != null" >
        #{uparentid,jdbcType=BIGINT},
      </if>
      <if test="utype != null" >
        #{utype,jdbcType=INTEGER},
      </if>
      <if test="ucsscls != null" >
        #{ucsscls,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=BIGINT},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="ruid != null" >
        #{ruid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flyonsky.quantify.entity.VAdminRoleAllUrlExample" resultType="java.lang.Integer" >
    select count(*) from v_admin_role_allurl
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update v_admin_role_allurl
    <set >
      <if test="record.uid != null" >
        uId = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.uname != null" >
        uName = #{record.uname,jdbcType=VARCHAR},
      </if>
      <if test="record.utitle != null" >
        uTitle = #{record.utitle,jdbcType=VARCHAR},
      </if>
      <if test="record.uparentid != null" >
        uParentId = #{record.uparentid,jdbcType=BIGINT},
      </if>
      <if test="record.utype != null" >
        uType = #{record.utype,jdbcType=INTEGER},
      </if>
      <if test="record.ucsscls != null" >
        uCsscls = #{record.ucsscls,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null" >
        roleId = #{record.roleid,jdbcType=BIGINT},
      </if>
      <if test="record.rolename != null" >
        roleName = #{record.rolename,jdbcType=VARCHAR},
      </if>
      <if test="record.ruid != null" >
        ruId = #{record.ruid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update v_admin_role_allurl
    set uId = #{record.uid,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      uName = #{record.uname,jdbcType=VARCHAR},
      uTitle = #{record.utitle,jdbcType=VARCHAR},
      uParentId = #{record.uparentid,jdbcType=BIGINT},
      uType = #{record.utype,jdbcType=INTEGER},
      uCsscls = #{record.ucsscls,jdbcType=VARCHAR},
      roleId = #{record.roleid,jdbcType=BIGINT},
      roleName = #{record.rolename,jdbcType=VARCHAR},
      ruId = #{record.ruid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>