<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flyonsky.quantify.dao.VIndustrySecuryMapper" >
  <resultMap id="BaseResultMap" type="com.flyonsky.quantify.entity.VIndustrySecury" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="industryid" property="industryid" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="remart" property="remart" jdbcType="VARCHAR" />
    <result column="insustryname" property="insustryname" jdbcType="VARCHAR" />
    <result column="secname" property="secname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
      <if test="customWhere != null" >
         ${customWhere} 
      </if>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
      <if test="customWhere != null" >
         ${customWhere} 
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, industryid, code, remart, insustryname, secname
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.flyonsky.quantify.entity.VIndustrySecuryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from v_industrysecury
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.flyonsky.quantify.entity.VIndustrySecuryExample" >
    delete from v_industrysecury
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.flyonsky.quantify.entity.VIndustrySecury" >
    insert into v_industrysecury (id, industryid, code, 
      remart, insustryname, secname
      )
    values (#{id,jdbcType=INTEGER}, #{industryid,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, 
      #{remart,jdbcType=VARCHAR}, #{insustryname,jdbcType=VARCHAR}, #{secname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flyonsky.quantify.entity.VIndustrySecury" >
    insert into v_industrysecury
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="industryid != null" >
        industryid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="remart != null" >
        remart,
      </if>
      <if test="insustryname != null" >
        insustryname,
      </if>
      <if test="secname != null" >
        secname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="industryid != null" >
        #{industryid,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="remart != null" >
        #{remart,jdbcType=VARCHAR},
      </if>
      <if test="insustryname != null" >
        #{insustryname,jdbcType=VARCHAR},
      </if>
      <if test="secname != null" >
        #{secname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.flyonsky.quantify.entity.VIndustrySecuryExample" resultType="java.lang.Integer" >
    select count(*) from v_industrysecury
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update v_industrysecury
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.industryid != null" >
        industryid = #{record.industryid,jdbcType=INTEGER},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.remart != null" >
        remart = #{record.remart,jdbcType=VARCHAR},
      </if>
      <if test="record.insustryname != null" >
        insustryname = #{record.insustryname,jdbcType=VARCHAR},
      </if>
      <if test="record.secname != null" >
        secname = #{record.secname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update v_industrysecury
    set id = #{record.id,jdbcType=INTEGER},
      industryid = #{record.industryid,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      remart = #{record.remart,jdbcType=VARCHAR},
      insustryname = #{record.insustryname,jdbcType=VARCHAR},
      secname = #{record.secname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>